html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    padding: 0;
    font-size: 1em;
    line-height: 1.2;
}

.wrap {
    height: auto;
    margin: 0 auto -120px;
    /* footer height + space */
    min-height: 100%;
    padding: 0 0 120px;
    /* footer height + space */
    box-sizing: border-box;
    overflow: auto;
}


/* Type */

a {
    color: #8fce1e;
    text-decoration: none;
}


/* mouse over link */

a:hover {
    color: #b7e752;
}

p, h1, h2, h3, h4, h5, h6, li {
    font-weight: 300;
}

p {
  margin-top: .6em;
  margin-bottom: .3em;
}

h6 {
    font-size: 0.83333em;
}

h5 {
    font-size: 1em;
}

h4 {
    font-size: 1.2em;
}

h3 {
    font-size: 1.44em;
}

h2 {
    font-size: 1.6em;
}

h1 {
    font-size: 2em;
}

h3, h2 {
    line-height: 1.2;
    margin-bottom: .1em;
}

h1 {
    line-height: 1;
    margin-bottom: .1em;
}

.primary {
    color: #8fce1e;
}

.white {
    color: #ffffff;
}


/* Nav Bar */

.navbar {
    height: 75px;
    background: #3b3b3b;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 50px;
    position: relative;
}

.navbar-brand {
    display: inline-block;
}

.nav-container {
    max-width: 1200px;
    padding: 16px 30px 0 30px;
    margin: 0 auto;
}

.navbar-right {
    float: right;
    margin: 0;
    padding: 12px 0 0 0;
}

.nav li {
    display: inline;
    margin: 0 0 0 15px;
    padding: 4px 20px 7px 20px;
    color: #ffffff;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav a {
    color: #ffffff;
}

.download {
    color: #ffffff;
    background-color: #8fce1e;
    border: 2px solid #8fce1e;
    border-radius: 100px;
    transition: 0.5s;
}

.support {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 20px;
    transition: 0.5s;
}

.download:hover {
    background-color: #606060;
    color: #3b3b3b;
    border: 2px solid #606060;
    border-radius: 20px;
    transition: 0.5s;
}

.support:hover {
    color: #606060;
    border: 2px solid #606060;
    border-radius: 20px;
    transition: 0.5s;
}

#hero {
    margin: -50px 0 0 0;
    background-image: url('../images/willow-hero.png');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 100vh;
}

.headline {
    position: absolute;
    top: 50%;
    text-align: center;
    width: 100%;
    color: #fff;
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    -webkit-transform: translate(0, -50%);
    /* Safari */
    transform: translate(0, -50%);
}

.buttons {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    -ms-transform: translate(0, -50%);
    /* IE 9 */
    -webkit-transform: translate(0, -50%);
    /* Safari */
    transform: translate(0, -50%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.app-store-btn {
    color: #fff;
    padding: 6px 16px;
    background-color: #8fce1e;
    border: 1px solid #8fce1e !important;
    width: 140px;
    height: 36px;
    transition: 0.5s;
}

.app-store-btn:hover {
    background-color: rgba(143, 206, 30, 0.5);
    border: 1px solid rgba(143, 206, 30, 0) !important;
    transition: 0.5s;
}

.btn {
    display: block;
    padding: 6px 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid #ffffff;
    border-radius: 2px;
    margin: 0 10px 0 10px;
}

.app-store-btn img {
    height: 24px;
    float: left;
    margin: 5px 12px 0 0;
}

.label {
    float: right;
}

.label {
    position: relative;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

.label .label-store {
    font-size: 16px;
    margin-top: 5px;
}

.app-store-btn .label * {
    text-transform: uppercase;
    display: block;
    text-align: left;
}

.label-availability {
    font-weight: 300;
}

.learn-more {
    padding: 14px 28px 0 28px;
    color: #fff;
    transition: 0.5s;
    width: 108px;
    height: 32px;
}

.learn-more:hover {
    color: #fff;
    border: 1px solid #fff;
    opacity: 0.5;
    transition: 0.5s;
}

.app-features {
    background-image: url('../images/willow-city.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    ;
    background-position: -800px -500px;
    position: relative;
    margin: -30px 0 0 0;
}

.app-features-container {
    max-width: 1200px;
    padding: 0 0 0 30px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
}

.left-image {
    position: relative;
    min-width: 240px;
}

.screenshot {
    position: absolute;
    margin: 40px 0 0 104px;
}

.right-content {
    background-color: #ffffff;
    min-height: 630px;
    width: 100%;
    display: flex;
    align-items: center;
    padding:0 30px 0 0;
}

.features-content {
    margin: 0 0 0 200px;
}

.features {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.features h3 {
    margin-top: 1.5em;
    margin-bottom: .1em;
    line-height: 1.1;
}

.group-messages {
  background-image: url('../images/home-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 9px;
  padding: 1px 0 0 0;
}

.one-on-one {
  background-image: url('../images/one-on-one-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 9px;
  padding: 1px 0 0 0;
}

.discover {
  background-image: url('../images/discover-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 9px;
  padding: 1px 0 0 0;
}

.branches {
  background-image: url('../images/branches-icon.png');
  background-repeat: no-repeat;
  background-position: 0px 9px;
  padding: 1px 0 0 0;
}


/* Page content */

.content {
    max-width: 1200px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

.content h2 {
  margin-bottom: .8em;
}
/* Featured In */

#featured-in {
    background-image: url('../images/willow-featured.png');
    background-color: #282727;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: -30px 0 -9px 0;
    padding: 85px 0;
}

.header {
    text-align: center;
}

.logo-container {
    margin: 65px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 150px;
    margin: 0 10px 0 10px;
}

.logo-mtv {
    width: 100px;
}


/* Callout */

#callout {
    background-color: #282727;
    margin: 0 0 -20px 0;
    min-height: 100px;
}

.callout-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 25px 30px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cta {
    margin: 0 20px;
}

.cta-btn {
    margin: 0 20px;
}


/* Footer content */

footer {
    display: flex;
    color: #ffffff;
    background-color: #1c1c1c;
    height: 100px;
    /* footer height */
    padding: 36px 0 10px 0;
    display: block;
    margin-top: 20px;
    /* space between content and footer */
    position: relative;
    width: 100%;
}

footer a {
    color: #ffffff;
}

footer a:hover {
    color: #606060;
    transition: 0.5s;
}

.footer-container {
    max-width: 1200px;
    padding: 0 30px 0 30px;
    margin: 0 auto;
}

#footer-left {
    float: left;
    display: inline-block;
    font-size: 12px;
}

#footer-right {
    float: right;
    display: inline-block;
}

.social-icon {
    color: #ffffff;
    margin: 0 0 0 10px;
    padding: 20px 0 20px 0;
    transition: 0.5s;
}

.social-icon:hover {
    color: #606060;
    transition: 0.5s;
}


/* Desktop View */

@media only screen and (min-width: 480px) {
    .rwd-mobile {
        display: none;
    }
}

@media (min-width: 1360px) {
    /* Responsive Type */
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 3.58318em;
    }
}

@media (min-width: 1024px) {
    /* Responsive Type */
    h2 {
        font-size: 2.48832em;
    }
    h1 {
        font-size: 2.98598em;
    }
}

@media (max-width: 800px) {
    /* App Features */
    .app-features {
        background-image: none;
        padding: 25px 0 25px 0;
    }
    .app-features-container {
        padding: 0 30px 0 30px;
    }
    .left-image {
        display: none;
    }
    .features-content {
        margin: 0;
    }
}

@media (min-width: 768px) {
    /* Responsive Type */
    h3 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.8em;
    }
    h1 {
        font-size: 2.8em;
    }
}


/* Mobile View */

@media only screen and (max-width: 480px) {
    /* Responsive Type */
    html {
        font-size: 19.2px;
    }
    /* Mobile Type */
    .rwd {
        display: none;
    }
    /* Mobile Navbar */
    .navbar-header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar {
        height: 140px;
    }
    .navbar-brand {
        display: flex;
        justify-content: center;
    }
    .navbar-logo {
        width: 121px;
        padding: 10px 0;
    }
    .navbar-right {
        float: none;
        width: 253px;
    }
    .nav li {
        margin: 0;
        padding: 2px 20px 5px 20px;
    }
    /* Mobile Hero */
    #hero {
        margin: -50px 0 0 0;
        background-image: url('../images/willow-hero.png');
        background-size: cover;
        background-position: center center;
        position: relative;
        min-height: 560px;
        padding: 0 30px 0 30px;
    }
    .headline {
        position: relative;
        top: 25%;
        text-align: center;
        width: 100%;
        color: #fff;
    }
    .buttons {
        position: relative;
        top: 25%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .btn {
        margin: 10px 20px 10px 20px;
    }
    /* Featured In */
    .logo {
        width: 200px;
        margin: 20px 0 20px 0
    }
    .logo-mtv {
        width: 200px;
        margin: 20px 0 20px 0
    }
    /* Callout */
    #callout {
        padding: 25px 0 25px 0;
    }
    .cta {
        text-align: center;
        margin: 0 0 10px 0;
    }
    /* Mobile Footer */
    footer {
        height: 160px;
        justify-content: center;
    }
    #footer-left {
        float: none;
        text-align: center;
        display: block;
    }
    #footer-right {
        width: 144px;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .social-icon {
        margin: 0 5px 0 5px;
    }
}
